form label {
    min-width: 100px;
    display: inline-block;
    padding: 5px;
    text-align: right;
}

.error {
    color: #FF0000;
}

.array-print table, th, td {
    border: 1px solid black;
    min-width: 100px;
}
